/*
 * Navbar
 */
/* Change Colors */
.navbar {
    background: #FF9933;
}
.navbar .navbar-brand {
    color: #FFFFFF;
}
}
.navbar .navbar-nav .dropdown-header {
    color: #A4A4A4;
}
.navbar .navbar-nav li a {
    color: #001F3F;
}
.navbar .navbar-nav li a:hover {
    color: #7A0070;
}
.navbar .navbar-brand:hover {
    color: #F0F1F3;
}
.navbar .navbar-nav .dropdown-menu>li>a,
.navbar .navbar-nav .open .dropdown-menu>li>a {
    color: #85144B;
}
@media(max-width:767px){
    .navbar .navbar-nav .dropdown-menu>li>a,
    .navbar .navbar-nav .open .dropdown-menu>li>a {
        color: #85144B;
    }
}


/*
 * Primary text content
 */
body {
    color: #001F3F;
}
#main-content h1,
#main-content h2,
#main-content h3,
#main-content h4,
#main-content h5,
#main-content h6 {
    color: #001F3F;
}

#main-content h1:before,
#main-content h2:before,
#main-content h3:before,
#main-content h4:before,
#main-content h5:before,
#main-content h6:before {
    color: #85144B;
}


/* Footnote */
#footernote {
    border-top: 4px solid #85144B;
    float: right;
    margin-top: 50px;
}
